.team_members_img{
    width:100px;
    height:100px;
}
.team_card{
   border-radius: 2rem 2rem 0 0 !important;
   box-shadow: 2px 2px 6px gray;
   border-bottom: 2px solid var(--main-color) !important;
}
.designation{
   font-size: 12px;
   font-weight: 550;
}
/* custom css here */
:root{
    --main-color: #1999ce;
    font-family: 'Poppins', sans !important;
    box-sizing: border-box !important;
}
.official_bg{
    background-color: var(--main-color) !important;
}
.btn_bg{
    background-color: var(--main-color);
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    height: 2.5rem;
    
}
.link_color{
    color: var(--main-color) !important;
}
